* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --light-grey: #4a4a4a;
    --nice-aqua:#3CDBC0;
    --pearl-white: #FFFFFF;

}
.logo {
    position: sticky;
    padding: 10px;
}
.menu {
    font-family: 'Rubik', sans-serif;
    color: var(--light-grey);
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.menu_link {
    color: var(--light-grey);
    text-decoration: none;
}

.main {
    background-color: var(--nice-aqua);
    color: var(--pearl-white);
}